# Visual Studio Code workspace
workspace*
.vscode/

# Ignore Selenium logs
debug.log

# Ignore cache
__pycache__/
/.vs/DLV2-WoodBlocks-AI/v16/.suo
/.vs

# Ignore configuration .env file
.env

# Ignore game scripts
gameScripts/